<main class="container">
    <br><br>
    <br><br>
    <br><br>
    <h1>YOUR CHARACTERS</h1>
    <br><br>

    {{userCharacters.character_name}}

    <h6 id="view-characters">Click one of your characters
        <br>
        Then click GO TO BATTLE to Fight!
        <br>
        or create a new character!</h6>
    <div class="row">
        <div class="center-align">
            <a class="waves-effect waves-light red btn-large" id="createCharacter">Create New Character</a>
        </div>
    </div>
    <div id="characterBoard" class="col s12 m10 l6"></div>

    {{!-- <div class="row">
        <div class="carousel">
            <div id="characterCarousel"></div>
            <div class="card carousel-item">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./assets/images/trash-pigeon.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i></span>
                    <p><a class="center-align" id="selectPigeon" href="#">SELECT</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Character Stats<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this character.</p>
                </div>
            </div>
        </div>
    </div> --}}

</main>

<script type="text/javascript" src="./assets/js/allCharacters.js"></script>
<script type="text/javascript" src="./assets/js/index.js"></script>