<main class="container">
    <div id="home-page" class="row">
        <h1>Fight!</h1>
        <h6>
            Think strategically and choose your action!
        </h6>
        <div class="row"></div>
        <div class="row">
            <div class="col s6 characterCol">
                <h5>Player Character's Name here</h5>
                <div id="playerHPbar"></div>
                <img src="../public/assets/images/trash-raccoon.png" id="userCharacter">
                <div class="row actionBtns">
                    <button id="attackBtn">Attack</button>
                    <button id="defendBtn">Defend</button>
                    <button id="strikeBtn">Strike</button>
                    <button id="counterBtn">Counter</button>
                </div>
            </div>
            <div class="col s6 characterCol">
                <h5>Comp Character's Name here</h5>
                <div id="compHPbar"></div><img src="../public/assets/images/trash-rat.png" id="compCharacter">
            </div>
        </div>
    </div>
</main>