<main class="container">
    <div id="home-page" class="row">
        <h1>Fight!</h1>
        <h6 id="battle-header">
            Think strategically and choose your action!
        </h6>
        <div class="row"></div>
        <div class="row">
            <div class="col s6 characterCol">
                <h5 id="player-character-name">Player Character's Name here</h5>
                <div id="playerHPbar"></div>
                <img src="./assets/images/trash-raccoon.png" id="userCharacter">
                <div class="row actionBtns">
                    <button id="attackBtn">Attack</button>
                    <button id="defendBtn">Defend</button>
                    <button id="strikeBtn">Strike</button>
                    <button id="counterBtn">Counter</button>
                </div>
            </div>
            <div class="col s6 characterCol">
                <h5 id="enemy-character-name">Comp Character's Name here</h5>
                <div id="compHPbar"></div><img src="./assets/images/trash-rat.png" id="compCharacter">
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="./assets/js/battlepage.js"></script>