<main class="container">
    <h1>Welcome {{currentUser.dataValues.user_name}}!</h1>
    <h6>
        Do you dare to build a trash animal that can defeat our squad of trash
        animals? Choose your advantage wisely!
    </h6>
    <form class="col s12 offset-m3 m6">
        <div class="input-field col s10" id="character-name-form">
            <input placeholder="Enter your character name here." id="character_name" type="text" class="validate" />
        </div>
    </form>
    <form action="#">
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>STRENGTH</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>HP</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>DEFENSE</span>
            </label>
        </p>
    </form>
    <h6>Select an icon for your character:</h6>

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="./assets/images/trash-raccoon.png"></a>
        <a class="carousel-item" href="#two!"><img src="./assets/images/trash-pigeon.png"></a>
        <a class="carousel-item" href="#three!"><img src="./assets/images/trash-possom.png"></a>
        <a class="carousel-item" href="#four!"><img src="./assets/images/trash-fox.png"></a>
        <a class="carousel-item" href="#five!"><img src="./assets/images/trash-rat.png"></a>
    </div>
</main>

<script type="text/javascript" src="./assets/js/createCharacter.js"></script>