  <main class="container">
      <h1>You lost the battle!</h1>
      <h2>Select an option from the buttons below!</h2>

      <div id="button-div">

      <button
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
        id="battle-again"
      >
        BATTLE AGAIN WITH THE SAME FIGHTER
      </button>

      <button
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
        id="create-another-character"
      >
      CREATE A NEW CHARACTER WORTHY OF BATTLE
      </button>

      <button
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
        id="view-all-characters"
      >
      VIEW ALL CHARACTERS
      </button>
    </div>
    </main>