<main class="container">
    <div id="home-page" class="row">
        <h1>Choose Your Fighter!</h1>
        <h6>
            Build a fighter strong enough to defeat our unique database of
            fighters!
        </h6>
        <div class="row">
            <form class="col s12 offset-m3 m6" id="usernameInput">
                <div class="input-field col s10" id="user-name-form">
                    <input placeholder="Enter your name to begin." name="user_name" id="first_name" type="text"
                        class="validate" />
                </div>
                <button type="submit">Start!</button>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript" src="./assets/js/index.js"></script>