h1 {
  text-align: center;
  color: #56c0fd;
  font-family: 'VT323', monospace;
  font-size: 128px;
  text-shadow: 5px 5px 5px #000000
}

.container {
  align-items: center;
  /* display: flex; */
  justify-content: center;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/background\ -2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  flex: 1 0 auto;
}

h6 {
  text-align: center;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 45px;
  text-shadow: 5px 5px 5px #000000
}

form {
  display: flex;
  justify-content: center;
}

.btn-large {
  /* padding: 5%; */
}

.btn {
  color: black;
}

#view-all-characters {
  margin-right: 425px;
  /* background-color: blueviolet; */
}

#add-new-character {
}
.carousel .carousel-item {
  height: 300px;
}

#compCharacter {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: hue-rotate(180deg);
  margin: auto;
}

#userCharacter {
  margin: auto;
}

#compHPbar {
  background-color: red;
  height: 25px;
}

#playerHPbar {
  background: green;
  height: 25px;
}

.characterCol {
  display: grid;
}

.actionBtns {
  display: flex;
}

#attackBtn {
  background-color: red;
  width: 50%;
  margin: 5px;
  color: white;
}

#defendBtn {
  background-color: blue;
  width: 50%;
  margin: 5px;
  color: white;
}

#strikeBtn {
  background-color: purple;
  width: 50%;
  margin: 5px;
  color: white;
}

#counterBtn {
  background-color: orangered;
  width: 50%;
  margin: 5px;
  color: white;
}
